
.movement-container {
  display: flex;
  flex-direction: column;
}

.movement-container > * {
  width: 100%;
}

.amount {
  font-size: 42px;
}

.datepicker {
  position: relative;
  .mat-datepicker-toggle {
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 1;
  }
  .mat-input-element {
    padding-left: 50px;
  }
}