
<div class="user-container">
<mat-toolbar class="user-toolbar" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="">account_balance_wallet</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let lang of langs" mat-menu-item (click)="changeLang(lang)">
        <span>{{lang}}</span>
      </button>
      <button *ngIf="user" mat-menu-item (click)="logOut()">
        <span>{{'LOGOUT' | translate}}</span>
      </button>
    </mat-menu>
    <mat-divider [vertical]="true"></mat-divider>
    <ng-template [ngIf]="user">
      <h1><small>{{ 'YOUR_BALANCE' | translate}}</small><span>{{ movements | balance:'balance':filter:interval }}</span>€</h1>
      <h2 *ngIf="!interval && !filter">{{ today | date }}</h2>
      <button *ngIf="interval || filter" mat-raised-button color="primary" (click)="changeInterval()">
        <span *ngIf="filter">
          {{ filter }}
        </span>
        <span *ngIf="filter && interval">-</span>
        <span *ngIf="interval">
          {{ interval.min | date }} - {{ interval.max | date }}
        </span>
        <mat-icon class="">close</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="user">
  <mat-grid-list cols="2" rowHeight="20px">
    <mat-grid-tile>
      <small>{{ 'EXPENSES' | translate}}: {{ movements | balance:'outcome' }}€</small>
    </mat-grid-tile>
    <mat-grid-tile>
      <small>{{ 'INCOMES' | translate}}: {{ movements | balance:'income' }}€</small>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
</div>