
.movement-list-container {
  overflow: scroll;
  height: 100%;
  @media screen and (max-width: 720px){
    overflow: visible;
    height: auto;
  }
}

.mat-list-item {
  &:last-child {
    margin-bottom: 160px;
  }
}

b {
  font-size: 26px;
  font-weight: 400;
}

.income {
  color: #539853;
}

.outcome {
  color: #c13838;
}